.about-container {
    margin: 45px 100px;
    min-height: 100vh;
}

.about-container .mask {
    width: 100%;
    padding-bottom: 40px;
}

.collapse-list{
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-left: 9%;
    padding-right: 9%;
}

button {
    display: flex;
    flex-wrap: nowrap;
    font-size: 24px;
    width: 100%;
    height: 52px;
    align-items: center;
    justify-content:space-between;
    background-color: #FF6060;
    color: white;
    border-radius: 5px;
    border: none;
}


