.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-page p{
    color: #FF6060;
    font-size: 36px;
    margin: 100px;
}

.error-404 {
    width: 597px;
    justify-content: center;
    display: flex;
    margin-top: 60px;
}

.back-to-homepage a{
    margin: 139px;
    color:#FF6060;
    font-size: 18px;
    text-decoration: underline;
}
