
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 45px 100px;
}

.navbar__nav ul {
    display: flex;
    flex-direction: row;
    
}

.navbar__nav li {
    padding-left: 57px;
    font-size: 24px;
    text-decoration: none;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #ff6060;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    
    .navbar {
        margin: 20px;
        margin-bottom: 27px;
    }
    .navbar__nav li {
        display: flex;
    font-size: 12px; 
    padding-left: 26px;  
    flex-wrap: nowrap; 
    }

    .navbar a {
        display: flex;
        flex-wrap: nowrap;
    }

    .navbar__nav  ul {
    padding-left: 0px;
    }   
    
    .kasa-logo-nav {
        width: 145px;
        height: 46.88px;
    }


}