.container{
    margin: 45px 100px;
    min-height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 45px 100px;
}

.navbar--nav ul {
    display: flex;
    flex-direction: row;
    
}

.navbar--nav li {
    padding-left: 57px;
    font-size: 24px;
    text-decoration: none;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #ff6060;
}
