.apartment-page{
    padding-left: 100px;
    padding-right: 100px;
}

.apartment-info{
    display: flex;
    flex-direction: column;
}

.apartment-title {
    color: #FF6060;
    font-size: 36px;
}

.apartment-location {
    color: #FF6060;
    font-size: 18px;
}

.apartment-container {
    display: flex;
    justify-content: space-between;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 24px;
    
}
.tag {
    display: flex;
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    width: 115px;
    height: 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

.host-info {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.host-name {
    display: flex;
    flex-wrap: wrap;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: right;
    width: 93px;
    height: 52px;
    top: 608px;
    left: 1170px;
}
.host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}