$color_1: white;

.carousel {
	width: 100%;
	height: 415px;
	margin-bottom: 24px;
	display: flex;
}
.img-carousel {
	width: 100%;
	object-fit: cover;
	border-radius: 25px;
}
.right-arrow {
	top: 330px;
	right: 110px;
	position: absolute;
	width: 46.68px;
	height: 79.2px;
	cursor: pointer;
}
.left-arrow {
	top: 330px;
	left: 110px;
	position: absolute;
	width: 46.68px;
	height: 79.2px;
	cursor: pointer;
}
.image-counter {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 22%;
	color: $color_1;
	font-size: 18px;
	font-weight: 500;
}
@media screen and (max-width: 800px) {
	.img-carousel {
		width: 100%;
		height: 245px;
		object-fit: cover;
		border-radius: 10px;
	}
	.right-arrow {
		top: 199px;
		right: 25px;
		width: 11.67px;
		height: 19.8px;
	}
	.left-arrow {
		top: 199px;
		left: 25px;
		width: 11.67px;
		height: 19.8px;
	}
	.carousel {
		height: 230px;
		margin-bottom: 24px;
		display: flex;
	}
	.image-counter {
		display: none;
	}
}
