$pastel-red: #ff6060;

.navbar {
	display: flex;
	justify-content: space-between;
	margin: 45px 100px;
	a {
		text-decoration: none;
		color: $pastel-red;
		font-weight: 500;
	}
}
.navbar__nav {
	ul {
		display: flex;
		flex-direction: row;
	}
	li {
		padding-left: 57px;
		font-size: 24px;
		list-style: none;
	}
}
@media screen and (max-width: 800px) {
	.navbar {
		margin: 20px;
		margin-bottom: 27px;
		a {
			display: flex;
			flex-wrap: nowrap;
		}
	}
	.navbar__nav {
		li {
			display: flex;
			font-size: 12px;
			padding-left: 26px;
			flex-wrap: nowrap;
		}
		ul {
			padding-left: 0px;
		}
	}
	.kasa-logo-nav {
		width: 145px;
		height: 46.88px;
	}
	.active {
		text-decoration: underline !important;
	}
}
